.header{
width: 100%;
background-color: #111013;
display: flex;
justify-content: center;
align-items: center;
}

.headerchild{
    width: 90%;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerleft a{
    font-family: semibold;
    font-size: 25px;
    color: white;
}

.headerright a{
    font-family: semibold;
    font-size: 18px;
    color: white;
}

.headerright{
display: flex;
gap: 20px;
}