.Footer {
    width: 100%;
    margin-top: 150px;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.372);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px;
}

.FooterTitleAndBTN {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.FTitle {
    text-align: center;
    font-family: medi;
    color: white;
    font-size: 65px;
}

.FTitleSecBTN {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.FTitleSec {
    font-family: medi;
    color: rgba(255, 255, 255, 0.527);
    font-size: 65px;
}

.FLine {
    width: 15%;
    height: 1px;
    background-color: white;
}

.FBTn {
    width: 200px;
    height: 70px;
    border-radius: 99px;
    background-color: rgba(255, 255, 255, 0.277);
    border: 0;
    overflow: hidden;
}

.FBTn a{
    height: 100%;
    width: 100%;
    color: white;
    font-family: medi;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.FSocials {
    display: flex;
    gap: 20px;
}

.FSocial {
    color: white;
    display: flex;
    font-family: medi;
    font-size: 20px;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
}

.FSocial::before {
    background-color: white;
    height: 2px;
    width: 0%;
    opacity: 0;
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    transition: .5s ease all;
}

.FSocial:hover::before {
    opacity: 1;
    width: 100%;
}


@media only screen and (max-width: 885px) {

    .FTitle {
        font-size: 45px;
    }

    .FTitleSec {
        font-size: 45px;
    }

}

@media only screen and (max-width: 768px) {

    .FTitleSecBTN {
        flex-direction: column;
    }

    .FLine {
        width: 1px;
        height: 70px;
        background-color: white;
    }

    .Footer {
        padding: 100px 30px;
    }
}

@media only screen and (max-width: 540px) {

    .FTitle {
        font-size: 35px;
    }

    .FTitleSec {
        font-size: 35px;
    }
}

@media only screen and (max-width: 440px) {

    .FTitle {
        font-size: 30px;
    }

    .FTitleSec {
        font-size: 30px;
    }

    .Footer {
        padding: 100px 10px;
    }
}

@media only screen and (max-width: 400px) {

    .FSocials {
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width: 345px) {

    .FTitle {
        font-size: 25px;
    }

    .FTitleSec {
        font-size: 30px;
    }

    .Footer {
        padding: 100px 10px;
    }
}