.HomePG{
    padding: 0 110px;

}

.first_BG{
    position: absolute;
    left: 0;
    top: -200px;
    width: 100%;
    height: 140vh;
    overflow: hidden;
}

.first_BG img{
    opacity: 0.15;
    position: absolute;
    width: 100%;
    height: 100%;

    animation: rotateAni 10s infinite linear;
}

@keyframes rotateAni {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }

.hello {
    margin-top: 50px;
    font-family: medi;
    color: #A6ABB4;
    font-size: 16px;
}

.creating {
    margin-top: 45px;
    font-family: medi;
    color: rgb(255, 255, 255);
    font-size: 95px;
}

.letstalkbtn_text {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.letstalktext {
    width: 55%;
 font-family: llight;
 color: #A6ABB4;
 font-size: 24px;   
}


@media only screen and (max-width: 990px) {
    .creating{
        font-size: 50px;
    }

}


@media only screen and (max-width: 830px) {
    .creating{
        font-size: 50px;
    }
    .letstalkbtn_text{
        flex-direction: column;
        gap: 30px;
    }
    .letstalktext{
        width: 100%;
    }
    .HomePG{
        padding: 0 60px;
    
    }
    
}


@media only screen and (max-width: 650px) {
    .HomePG{
        padding: 0 30px;
    
    }
}